
/*////////////*/
/*Nav Settings*/
/*///////////*/

.navlink {
	font-size: 22px;
}

a:hover {
    text-decoration: none;
}

nav{
	background: #42A5F5;
}

/*////////////////////////////////////////////////////////////*/
/*Animations for Swift Tax Form and Getting Started Button Div*/
/*////////////////////////////////////////////////////////////*/

.swifttaxform {
	margin: 0 auto;
	margin-top: 2%;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
	
}

.get-started {
	margin-top: 1%;
   -webkit-animation-duration: 2.3s;
   -webkit-animation-delay: 2s;
   -webkit-animation-iteration-count: 1;
}

/*/////////////////////////////////////////////////*/
/*Responsive Flow Text Settings for entire project */
/*/////////////////////////////////////////////////*/

.flow-text{
	line-height: 1.0;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: rgba(0,0,0,0.87);
}

/*///////////////////////////////////////////*/
/*Button Colors and Color changes for project*/
/*///////////////////////////////////////////*/

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #42E035;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover, .btn-large:hover {
    background-color: #7DFF5F;
}

/*/////////////////////////*/
/*Input Settings for Modals*/
/*/////////////////////////*/

.input-field label {
	position: absolute;
    font-size: 1.7rem;
    cursor: text;
    transition: .2s ease-out;
}

element.style {
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #52A8EC;
    outline:0;
    border-color: rgba(82,168,236,.8);
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset, 0 0 8px 
    rgba(82,168,236,.6);
    border-radius: 6px;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;

}

element.style {
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #42A5F5;
    border-radius: 6px;
    outline: none;
    height: 3rem;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
}

/*//////////////////////////////////////////////////////////////*/
/*Positiong to first modal, may need to add to all modal classes*/
/*//////////////////////////////////////////////////////////////*/

.yourName {
	position: relative;
	top: 4rem;
}



