
html {
	font-weight: lighter;
}


/*////////////*/
/*Nav Settings*/
/*///////////*/

.navlink {
	font-size: 22px;
}

a:hover {
    text-decoration: none;
}

.swifttaxform {
	margin: 0px auto;
	margin-top: 2%;
	
}

.flow-text{
	font-weight: lighter;
	padding: 0px 100px;
}

.input-field label {
	position: absolute;
    font-size: 1.7rem;
    cursor: text;
    transition: .2s ease-out;
}


nav{
	background: #42A5F5;
}

/*////////////////////////////////////////////////////////////*/
/*Animations for Swift Tax Form and Getting Started Button Div*/
/*////////////////////////////////////////////////////////////*/

.swifttaxform {
	margin: 0px auto;
	margin-top: 2%;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
	
}

.get-started {
	margin-top: 1%;
   -webkit-animation-duration: 2.3s;
   -webkit-animation-delay: 2s;
   -webkit-animation-iteration-count: 1;
}

/*/////////////////////////////////////////////////*/
/*Responsive Flow Text Settings for entire project */
/*/////////////////////////////////////////////////*/

.flow-text{
	line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: rgba(0,0,0,0.87);
}

/*///////////////////////////////////////////*/
/*Button Colors and Color changes for project*/
/*///////////////////////////////////////////*/

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #42E035;
    text-align: center;
    letter-spacing: .5px;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 5px;
    padding: 0 1rem;
    text-transform: none;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 10px;

}

.btn:hover, .btn-large:hover {
    background-color: #7DFF5F;
}


/*/////////////////////////*/
/*Input Settings for Modals*/
/*/////////////////////////*/

.input-field label {
	position: absolute;
    font-size: 1.7rem;
    cursor: text;
    transition: .2s ease-out;
}

element.style {
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #52A8EC;
    outline:0;
    border-color: rgba(82,168,236,.8);
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset, 0 0 8px 
    rgba(82,168,236,.6);
    border-radius: 6px;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;

}

element.style {
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #42A5F5;
    border-radius: 6px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
}

.yourName {
	position: relative;
	top: 1rem;
}

.progressbar {
    margin: 0px auto;
    margin-top: 4%;
    -webkit-animation-duration: 2.0s;
   -webkit-animation-iteration-count: 1;
}

.blueText {
	color:#0082C3; 
	font-weight: normal;
}

.modal {
	padding-top: 5%;
	background-color: #ffffff;
  overflow-y: hidden !important; 
}
.modal-content {
	padding-top: 15%; 
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: ffffff;
}

.next-button {
	text-align: center;
	/*display: inline-block;*/
	position: absolute;
	bottom: 3rem;
}

.back-button {
	text-align: center;
	/*display: inline-block;*/
	position: absolute;
	bottom: 3rem;
	/*background-color: blue;*/
}

.center-button {
    text-align: center;
    position: absolute;
    bottom: 3rem;

}
#validNameCheck {
	text-align: center;
	font-style: italic;
	color: red;
	font-weight: normal;
}

.centerBtn3 {
    width: 180px;
    margin: 0px 37%;
    text-transform: none;
}

.nextBtn3 {
    width: 140px;
    text-transform: none;

}

.blueLine {
    width: 70%;
    height: 10px;
    border-top: 1px solid #0082C3;
    margin: 0px auto;

}

.separate {
  margin-bottom: 7%;
  margin-top: 7%;

}
/*//////////////////////////////////////////////////////////////*/
/*Positiong to first modal, may need to add to all modal classes*/
/*//////////////////////////////////////////////////////////////*/

.yourName {
	position: relative;
	top: 1.5rem;
}
.main{
    margin-top: 1%;
}
.flow-text{
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: rgba(0,0,0,0.87);
}

.blueText {
    color:#0082C3; 
    font-weight: normal;
}

.blueLine2 {
    width: 100%;
    height: 10px;
    border-top: 1px solid #0082C3;
    margin: 0px auto;

<<<<<<< HEAD
}

.indeed {
    width: 14%;
    margin: 0px auto;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    top: -10px;
}

.jobMap {
    width: 55%;
    height: 300px;
    background: #0082C3;
    margin: 0px auto;
}

.jobBoxes {
    margin: 0px auto;
    margin-top: 2%;
}

.box1,
.box2,
.box3 {
    border: 1px solid #42A5F5;
    border-radius: 8px;
    padding: 2%;
    /*margin-bottom: 2%;*/
    margin: 0px auto;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

.box1,
.box2,
.box3{
    margin:4%;
}

.box1{
    margin-left: 5%;
}

.marker{
    margin: 0px auto;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #42E035;
    text-align: center;
    letter-spacing: .5px;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 5px;
    padding: 0 1rem;
    text-transform: none;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 10px;

}

.btn:hover, .btn-large:hover {
    background-color: #7DFF5F;
}

.jobApiData {
      font-size: 20px;
      margin: 0px;
      margin-bottom: 15px;
      /*text-decoration: underline;*/
      font-family: "Roboto", "sans-serif";
      font-weight: light;
}
.dataUnderline {
      height: 1px;
      width: 120px;
      margin: 0px auto;
      border-bottom: 1px solid black;

}
.dataType {
      font-family: "Roboto", "sans-serif";
      font-style: italic;
      margin: 0px;
      font-weight: lighter;

    }
.jobTitle {
      /*text-decoration: underline;*/
      font-weight: bolder;
      color: black;
    }
.oweText {
      font-weight: 700;
    color: red;
    font-size: 60px;
}

#returnOwePage {
    z-index: 1007;
    height: 80%;
    width: 80%;
}

#armedForcesQuestion {
    padding: 0 50px;
    margin-top: -20px;

}

.centerText14 {
    padding: 0 50px;
    margin-top: 0px
}
#modal17, #modal19 {
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    position: 0;
    top: 0; 
}
#modal14{
  background-size: cover;
  transition: background-image 2s ease;
}
 #map {
        height: 500px;
        width: 800px;
        margin: 20px auto;
      }
      .center {
      text-align: center;
    }

    .jobBox {
      height: 300px;
      width: 200px;
      background-color: #BADBF5;
      background-image: -webkit-linear-gradient(top, #BADBF5 0%, #42A5F5 100% );
      border: 1px solid green;
      border-radius: 7px;
      margin: 100px;
    }
    .dataType {
      font-family: "Roboto", "sans-serif";
      font-style: italic;
      margin: 0px;
      font-weight: lighter;

    }
    .next-button {
      color: white;
      background-color: #42E035;
      border-radius: 7px;
      text-transform: none;
    }
    .jobBoxLetter {
      border: 1px solid black;
      width: 18px;
      margin: 20px auto;
      background-color: darkgreen;
      color: white;
      border-radius: 5px;
    }
    .jobApiData {
      font-size: 20px;
      margin: 0px;
      margin-bottom: 15px;
      /*text-decoration: underline;*/
      font-family: "Roboto", "sans-serif";
      font-weight: light;

    }
    .jobTitle {
      /*text-decoration: underline;*/
      font-weight: bolder;
    }

    .applyBtn {
      margin-top: 20px;
    }

    .dataUnderline {
      height: 1px;
      width: 120px;
      margin: 0px auto;
      border-bottom: 1px solid black;

    }

    .main{
  margin-top: 1%;
}
.flow-text{
  line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: rgba(0,0,0,0.87);
}

.blueText {
  color:#0082C3; 
  font-weight: normal;
}

.blueLine2 {
    width: 100%;
    height: 10px;
    border-top: 1px solid #0082C3;
    margin: 0px auto;

}

.indeed {
  width: 14%;
  margin: 0px auto;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  top: 0px;
  display: inline;
}

#map {
  width: 70%;
  height: 400px;
  background: #0082C3;
  margin: 0px auto;
}

.jobBoxes {
  margin: 0px auto;
  /*margin-top: 2%;*/
}

.box1,
.box2,
.box3 {
  border: 1px solid #42A5F5;
  border-radius: 8px;
  padding: 3%;
  /*margin-bottom: 2%;*/
  margin: 20px 20px;

  -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

.box1{
  margin-left: 5%;
}

.marker{
  margin: 0px auto;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #42E035;
    text-align: center;
    letter-spacing: .5px;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 5px;
    padding: 0 1rem;
    text-transform: none;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 10px;

}

.btn:hover, .btn-large:hover {
    background-color: #7DFF5F;
}

.jobApiData {
      font-size: 20px;
      margin: 0px;
      /*text-decoration: underline;*/
      font-family: "Roboto", "sans-serif";
      font-weight: light;
}
.dataUnderline {
      height: 1px;
      width: 120px;
      margin: 0px auto;
      border-bottom: 1px solid black;

}
.dataType {
      font-family: "Roboto", "sans-serif";
      font-style: italic;
      margin: 0px;
      font-weight: lighter;

    }
.jobTitle {
      /*text-decoration: underline;*/
      font-weight: bolder;
      color: black;
    }
.oweText {
    font-weight: 700;
    color: red;
    font-size: 60px;
}
.noMargin {
  margin: 0px;
}

.topRow {
  margin: 20px;
}

.downloadBtn {
  margin-top: 40px;

  background-color: #2164F3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
}
 
.downloadBtn:hover{
 background-color: #42A5F5;
}

.exitBtn {
    background-color: red;
 
}
#exitBtn1 {
    margin: 40px 100px;
}

/*Amazon*/

.main{
    margin-top: 1%;
}
.flow-text{
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: rgba(0,0,0,0.87);
}

.blueText {
    color:#0082C3; 
    font-weight: normal;
}

.blueLine2 {
    width: 70%;
    height: 10px;
    border-top: 1px solid #0082C3;
    margin: 0px auto;

}

.amazon {
    width: 65%;
    margin: 0px auto;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    top: 0px;
}

.jobMap {
    width: 55%;
    height: 300px;
    background: #0082C3;
    margin: 0px auto;
}

.jobBoxes {
    margin: 0px auto;
    margin-top: 2%;
}

.box1,
.box2,
.box3 {
    border: 1px solid #42A5F5;
    border-radius: 8px;
    padding: 1%;
    /*margin-bottom: 2%;*/
    margin: 0px auto;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

.box1,
.box2,
.box3{
    margin:2%;
    margin-top: 0;
}

.amazon-img{
    margin: 0px auto;
    max-height: 100%;
    width: auto;
    margin-top: 10%;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #42E035;
    text-align: center;
    letter-spacing: .5px;

    /*transition: .2s ease-out;*/
    cursor: pointer;
    border-radius: 5px;
    padding: 0 1rem;
    text-transform: none;


    border-radius: 10px;

}

.hoverable {
  border-radius: 5px;
}

.btn:hover, .btn-large:hover {
    background-color: #7DFF5F;
}

.refundAmt {
    font-size: 80px;
    color: #42E035 ;
    font-weight: bolder;
}

.oweText {
    font-weight: bold;
    color: red;
    font-size: 80px;
}

.amazonText {
    color: black;
    font-weight: 600;
    font-size: 1.5rem
}

.amazonRow {
    padding: 1%;
    margin-bottom: 0px;
}

.amazonAwesome {
    height: 100%;
    margin-top: 5%
}

.outerBox {
    margin: 10px;
}

.margin5 {
    margin-top: 20%
}

.downloadBtn {
  margin-top: 40px;

  background-color: #2164F3;
  width: 200px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
}
.downloadBtn:hover{
 background-color: #42A5F5;
}

.exitBtn {
    background-color: red;
 
}
#exitBtn2 {
    margin: 40px 0px;
}
.input-group {
    margin-bottom: 2%;
}

.alaska {
    margin-top: 5%;

}

.inputInterest {
    -webkit-animation-duration: 1.2s;
    -webkit-animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
}

.noLineHeight {
  line-height: 0px;
  width: 70%;
  display: inline;
  font-weight: bolder;
  color: black;
}

.answerBorder {
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
  padding: 5px;
  margin: 10px;
}

<<<<<<< HEAD
#rating0 , #rating1, #rating2 {
  width: 77px;
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 12%
}

#refreshBtn {
  background-color: #42E035;
}

#url0, #url1, #url2 {
  margin-top: 12%
}

.bigMac{
    margin: 0px auto;
    margin-top: 8%;
}

.videoContainer {
  max-height: 0px;
}

.fullscreen-bg {
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: relative;
    top: -526px;
    left: 0;
    width: 64.39%;
    height: 10%;
    opacity: .7;
    margin: 0px auto;
}

#rating0 , #rating1, #rating2 {
  width: 77px;
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 12%
}
.amazon-img{
    margin: 0px auto;
    margin-top: 10%;
    max-height: 120px;
}
.amazonText{
    font-weight: 600;
    font-size: 1.5rem
  }
#refreshBtn {
  background-color: #42E035;
}
#url0, #url1, #url2 {
  margin-top: 12%
}

.amazonBox1{
  -webkit-animation-delay: 0s;

}

.amazonBox2{
  -webkit-animation-delay: 1.5s;
}

.amazonBox3{
  -webkit-animation-delay: 3s;

}

#gifDiv, #flagDiv {
  width: 90px;
  margin: 15px auto;
}

#loopGif{
  width: 90px;
  height: 90px;
}

#patriotText{
  background-color: white;
  opacity: 0.8;
}

#armedForcesQuestion0 {
    
    font-weight: 500;
    font-size: 1.8rem;
    color: #42E035;
    padding: 10px 0px 0px 0px;
}

#armedForcesForm {
  padding-bottom: 15px;
}

#armedForcesBox{
  padding: 0px 15px 15px 15px;

}

#armedForcesTextFont {
  font-weight: 300;
}
#loopStorm {
  height: 150px;
  width: 150px;
}

#stormDiv {
  width: 150px;
  margin: 40px auto;
}